.card{
    width: 410px;
    height: 450px;
    background-color: #fff;
    padding: 30px;
    text-align: center;

    h1{
        margin: 20px 0;
        color: rgb(77, 133, 201);
    }

    .content{
        font-size: 18px;
        font-style: italic;
        color: #435265;
        line-height: 28.8px;
    }
}