.registration_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url(../../../assets/images/city_background.webp);
  background-size: cover;
  justify-content: center;

  .opacity_shape {
    position: absolute;
    width: 100%;
    height: 100%;
    background: lightblue;
    opacity: 0.8;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 20px 40px;
    height: 450px;
    width: 700px;
    padding: 50px 25px;
    background: #fff;
    box-shadow: 0px 0px 20px 10px #2b718b;
    margin-top: 150px;
    z-index: 10;
    border: 2px solid #fff;
    transition: opacity linear 0.4s;

    .inputs_container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input {
        height: 50px;
        outline: none;
        border: 2px solid #2b718b;
        width: 100%;
        padding: 0 10px;
        font-size: 24px;
        color: #2b718b;
        background-color: #fff;
      }

      .radio_buttons {
        display: flex;
        label {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: fit-content;
          align-items: center;
          grid-gap: 5px;
        }
        input.radio_button {
          max-width: 20px;
        }
      }

      input.is_invalid {
        border: 2px solid var(--validation-error-message);
      }
      p.validation_error_message {
        position: absolute;
        color: var(--validation-error-message);
        font-size: 14px;
      }
    }

    .radio_buttons_container {
      gap: 0;
    }

    .register_button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 24px;
      background: #01b4a1;
      height: 50px;
      margin-top: 25px;
      cursor: pointer;
    }
  }

  main.hidden{
    opacity: 0;
  }
}
